nav {
    display: flex;
    flex-direction: column;
    a {
        padding: 0.75rem;
        margin: 0.3rem 1rem;
        border-radius: 500000rem;
        transition-duration: 250ms;
        display: block;
        &:hover, &.active {
            backdrop-filter: brightness(120%);
        }
    }
}